
@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using colorin.Models

<PageTitle>Home</PageTitle>

<h3>COLORIN</h3>

<div>
    <label for="colorInput">Color:</label>
    <input id="colorInput" @bind="currentColor" />
    <button @onclick="IncrementCount">Guardar</button>
</div>

<div>
    <p>Cantidad de Rojos: @colorModel.RedCount</p>
    <p>Cantidad de Verdes: @colorModel.GreenCount</p>
    <p>Cantidad de Azules: @colorModel.BlueCount</p>
</div>

@code {
    private ColorData colorModel = new ColorData();  // Cambié de ColorModel a ColorData
    private string currentColor = "";

    [Inject]
    private ColorService colorService { get; set; }

    protected override void OnInitialized()
    {
        colorModel = colorService.GetColors();
    }

    private void IncrementCount()
    {
        switch (currentColor.ToLower())
        {
            case "rojo":
                colorModel.RedCount++;
                break;
            case "verde":
                colorModel.GreenCount++;
                break;
            case "azul":
                colorModel.BlueCount++;
                break;
            default:
                break;
        }

        // Llamar a SaveColors con ColorModel en lugar de ColorData
        colorService.SaveColors(new ColorModel
        {
            RedCount = colorModel.RedCount,
            GreenCount = colorModel.GreenCount,
            BlueCount = colorModel.BlueCount
        });

        // Actualizar colorModel con los valores actuales
        colorModel = colorService.GetColors();

        currentColor = "";
    }
}
